 .menu {
      margin-left: 120px;
    }

    .menu__list {
      list-style: none;
      display: flex;
    }
  
    .menu__item {
      margin-right: 20px;
    }

    .menu__link {
      color: #7f8c8d;
    }

    .menu__link:hover {
      text-decoration: underline;
    }